POSTGRES_PASSWORD=change-me
POSTGRES_REPLICATION_PASSWORD=change-me-too
REDIS_PASSWORD=change-me-redis
NATS_USER=tml
NATS_PASSWORD=change-me-nats
CLICKHOUSE_PASSWORD=change-me-clickhouse
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change-me-again
